<div class="container-fluid p-5">
    <h1>Markdown Editor</h1>
    <div class="row">
        <div class="col-lg-4">
          <!-- <h1>Editor</h1> -->
          <textarea class="textarea p-2" [(ngModel)]="markdown" (keydown)="handleKeydown($event)" placeholder="Write markdown here..."></textarea>
        </div>
        <div class="col-lg-8" style="border: 1px solid black;border-radius: 5px">
          <markdown katex [katexOptions]="options" lineNumbers [start]="1" class="variable-binding" [data]="markdown"></markdown>
        </div>
    </div>
  </div>