<form [formGroup]="NewPostForm" (ngSubmit)="onaddnew()">
    <h1 class="h3 mb-3 fw-normal text-center">Please Provide Information</h1>
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput  placeholder="Enter a name..." formControlName="title" autocomplete="off" autofocus="on">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Body</mat-label>
        <input  matInput placeholder="Enter password..." formControlName="body" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input  matInput placeholder="Enter password..." formControlName="author" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <input  matInput placeholder="Enter password..." formControlName="tags" autocomplete="off">
    </mat-form-field>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
</form> 